# --------- pytorch --------- #
torch>=2.0.0
torchvision>=0.15.0

# --------- others --------- #
dominate          # HTML
scipy             # visualizer

# pyrootutils     # standardizing the project root setup
# pre-commit      # hooks for applying linters on commit
# rich            # beautiful text formatting in terminal
# pytest          # tests
